<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <button class="navbar-toggler ml-auto" data-toggle="collapse" data-target="#NavBarMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="NavBarMenu" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Setup
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/manage/product/index">Products</a>
                    <a class="dropdown-item" href="/manage/category/index">Categories</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/manage/user/all">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{__manageUrl}}/organisation/index">Orgs</a>
            </li>
        </ul>
        
        <!--LOGIN BUTTONS-->
        <ul class="navbar-nav ml-auto">
            {{#if login}}
            <li class="nav-item pull-right">
                <a class="nav-link" href="/manage/user/profile">My Account</a>
            </li>
            <li class="nav-item pull-right">
                <a class="nav-link" href="/manage/user/logout">Sign out</a>
            </li>
            {{else}}
            <li class="nav-item pull-right">
                <a class="nav-link" href="/manage/user/signup">Sign up</a>
            </li>
            <li class="nav-item pull-right">
                <a class="nav-link" href="/manage/user/signin">Login</a>
            </li>
            {{/if}}
        </ul>
       
    </div>
</nav>